/*header*/
.header{width: 100%; height: 100px;position: relative;}
  .header h1.logo a{width: 15%; max-width: 145px;float: left; font-size: 2em; position: absolute; left: 5%; top: 50%; margin-top: -18px;}

  .header .gnb{width: 60%; height:0; padding:10; position: absolute; left: 50%;  top: 50%; margin:-8.8px 0 0 -30%; display: flex; display: -webkit-flex; align-items: baseline;}
  .header .gnb li{width: 25%; text-align: center; float: left;}
  .header .gnb li span{cursor: pointer; color: #000;}
  .header .gnb li>ul>li{width: 100%; display: none;}
    .header .gnb li span:hover{color: #00bff3;}

  .header .login-box{width: 15%; max-width: 124px; position: absolute; right: 5%; top:50%; margin-top: -24.5px;}
    .header .login-box .login{margin:0 0 5px 0;}






/*container*/
.container{width: 100%;}

#bg {
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
/* Set your background with this */

  background: #348cb2 url("../img/bg.jpg") bottom left;
  background-repeat: repeat-x;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  opacity: 1;
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

#bg {
  background-size: 2250px auto;
  width: 6750px;
}


/* Overlay */

	@-moz-keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@-ms-keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes overlay {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	#overlay {
		-moz-animation: overlay 1.5s 1.5s forwards;
		-webkit-animation: overlay 1.5s 1.5s forwards;
		-ms-animation: overlay 1.5s 1.5s forwards;
		animation: overlay 1.5s 1.5s forwards;
		background-attachment: fixed, fixed;
		background-image: url("../img/overlay-pattern.png"), url("../img/overlay.svg");
		background-position: top left, center center;
		background-repeat: repeat, no-repeat;
		background-size: auto, cover;
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}




/*footer*/
.footer{width: 100%; height: 100px;}
